%section
  %h2.underline New Assistance Provider
  = form_tag(action: 'create', method: 'post') do

    .input-group
      = label_tag :email, 'Email'
      = text_field_tag :email

    .input-group
      = label_tag :password, 'Password'
      = password_field_tag :password

    .input-group
      = label_tag :name, 'Name/Organization name'
      = text_field_tag :name

    .input-group
      = label_tag :street_address, 'Street address'
      = text_field_tag :street_address

    .input-group
      = label_tag :city, 'City'
      = text_field_tag :city

    .input-group
      = label_tag :state, 'State'
      = text_field_tag :state

    .input-group
      = label_tag :zip, 'Zip'
      = text_field_tag :zip

    .input-group
      = label_tag :max_monthly_contribution, 'Max monthly contribution'
      = text_field_tag :max_monthly_contribution

    .actions
      %button{'ng-click' => 'submit()'} Submit
