%header.flex
  %h1 Ruby Slippers

  %nav.flex
    %p
      = current_user.email
    %span &#124;
    %p
      = link_to 'Log Out', logout_path

%section
  %h2.underline Assistance Provider Dashboard

  - if !@qualified_need
    .jumbo
      %p
        We have no immediate needs in your area at the moment, but as always, we will notify you when someone needs your help.

  - if @qualified_need
    .card
      %h3
      = @qualified_need.total_needed

      %h4 Deadline
      = @qualified_need.deadline

    .actions
      %p.btn
        = link_to 'Pledge!', pledge_path(@qualified_need.id)
      %p.btn
        = link_to 'Not this time...', reject_path(@qualified_need.id)
