%header.flex
  %h1 Ruby Slippers

  %nav.flex
    %p
      = current_user.email
    = link_to 'Logout', logout_path

- if !@qualified_need
  %h3 Good news!
  %p
    We have no immediate needs in your area at the moment, but as always, we will notify you when someone needs your help.
- if @qualified_need
  %section
    %h2 Assistance Provider Dashboard

    %h3 Total need
    = @qualified_need.total_needed

    %h4 Deadline
    = @qualified_need.deadline

    %p
      = link_to 'Pledge!', pledge_path(@qualified_need.id)
    %p
      = link_to 'Not this time...', reject_path(@qualified_need.id)
