%header.flex
  %h1.logo Ruby Slippers

  %nav.flex
    %p
      = current_user.email
    %span &#124;
    %p
      = link_to 'Log Out', logout_path

%section
  %h2.underline Assistance Provider Dashboard

  - if !@qualified_need
    .jumbo
      %p
        We have no immediate needs in your area at the moment.
        %br
        We will notify you when someone needs your help.

  - if @qualified_need
    .card
      %h3
      = @qualified_need.total_needed

    %h3 Deadline
    = @qualified_need.deadline

    %h3 Point of Contact
    = @qualified_need.point_of_contact

    %h3 Phone
    = @qualified_need.phone

    %h3 Address
    = @qualified_need.address

    %h3 Notes
    = @qualified_need.notes

    %p
      = link_to 'Pledge!', pledge_path(@qualified_need.id)
    %p
      = link_to 'Not this time...', reject_path(@qualified_need.id)

    .actions
      %p.btn
        = link_to 'Pledge!', pledge_path(@qualified_need.id)
      %p.btn
        = link_to 'Not this time...', reject_path(@qualified_need.id)

  - if @provider.successfully_funded_needs_count > 0
    %p
      You have helped
      %b
        = @provider.successfully_funded_needs_count
      stay out of homelessness!

  = bar_chart({"Requestable Amount" => @provider.available_monthly_contribution}, height:"200px", colors:['#08773b'], max: @provider.max_monthly_contribution)
  = bar_chart({"Your Monthly Max" => @provider.max_monthly_contribution}, height:"200px", colors:['#083d77'], max: @provider.max_monthly_contribution)
