%header.flex
  %h1.logo Ruby Slippers

  %nav.flex
    %p
      = current_user.email
    %span &#124;
    %p
      = link_to 'Log Out', logout_path

%section
  %h2.underline Assistance Provider Dashboard

  - if !@qualified_need
    .jumbo
      %p
        We have no immediate needs in your area at the moment.
        %br
        We will notify you when someone needs your help.

  - if @qualified_need
    .qualified-needs
      %table
        %thead
          %th.type Qualified Need
          %th Deadline
          %th Point of Contact
          %th Phone
          %th Address
          %th
          %th
        %tbody
          %td
            = @qualified_need.total_needed
          %td
            = @qualified_need.deadline
          %td
            = @qualified_need.point_of_contact
          %td
            = @qualified_need.phone
          %td
            = @qualified_need.address
          %td
            %p.btn
              = link_to 'Pledge!', pledge_path(@qualified_need.id)
          %td
            %p.btn.cancel
              = link_to 'Not this time', reject_path(@qualified_need.id)

      .notes
        = @qualified_need.notes

  - if @provider.successfully_funded_needs_count > 0
    %p
      You have helped
      %b
        = @provider.successfully_funded_needs_count
      stay out of homelessness!
  %br
  %br
  = bar_chart({"Requestable Amount" => @provider.available_monthly_contribution}, height:"200px", colors:['#08773b'], max: @provider.max_monthly_contribution)
  = bar_chart({"Your Monthly Max" => @provider.max_monthly_contribution}, height:"200px", colors:['#083d77'], max: @provider.max_monthly_contribution)
