

%header.flex
  %h1.logo Ruby Slippers

  %nav.flex
    %button{'ng-click' => 'showLogin = !showLogin'} Log In

/ - if @error
/   %h3
/     = @error

.login.ng-drop{'ng-if' => 'showLogin'}
  = form_tag(action: 'create', method: 'post') do
    .input-group
      = label_tag :email, 'Email'
      = text_field_tag :email

    .input-group
      = label_tag :password, 'Password'
      = password_field_tag :password

    .actions
      %button.cancel{'ng-click' => 'showLogin = !showLogin'} Cancel
      = submit_tag 'Login'

.wrapper
  %section.first
    %h2.slab Do what you can.
    %p.note The American homeless management system is overburdened. No matter how much intelligence is put into a system to assign people to homeless shelters, if there aren't enough beds, people will be out on the street. That's why it's important to focus on the real solution to the problem:
    %p.note *Prevention*.
    %p.btn
      = link_to 'Register as an assistance provider', new_assistance_provider_path

%section.second.cf
  %h2.slab Join Our Team
  %p Case workers, Care Coordinators and Health Agents use our system to connect people in need with local resources, donations, and hope. If you have recently joined our team, you can register here.
  %p.btn
    = link_to 'Register as a care coordinator', new_care_coordinator_path
