%h2 Login

- if @error
  %h3 
    = @error

= form_tag(action: 'create', method: 'post') do 
  %fieldset
    %p
      = label_tag :email, 'Email'
      = text_field_tag :email

    %p
      = label_tag :password, 'Password'
      = password_field_tag :password

  = submit_tag 'Login'

%p
  = link_to 'Register as an assistance provider', new_assistance_provider_path
%p
  = link_to 'Register as a care coordinator', new_care_coordinator_path

